<h2>Benutzer verwalten</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Imme</td>
    </tr>
    <tr>
      <td>Philipp</td>
    </tr>
  </tbody>
</table>  