composer.phar
/vendor/
/www/assets
/node_modules
/files/cache/*
/files/logs
/etc/symfony/parameters.yml
/files/media
/www/images/cache
/.screenshots
/.env
/package-lock.json
/files/mailspool
/.bash_history
