app/
bin/
vendor/
src/php/*
src/php/Webforge/*
src/php/Webforge/CmsBundle/*
src/php/Webforge/CmsBundle/Resources/*
!src/php/Webforge/CmsBundle/Resources/js-translations/*.json
etc/symfony/
etc/docker/
etc/apache2/
etc/php/
Resources/standard-edition
features/
old-features/
files/
www/
node_modules/
.screenshots/
.idea/
.env
package-lock.json
files/mailspool
.bash_history
npm-debug.log
*.bat
*.yml
bootstrap.php
project.properties
composer.*
phpunit*