{% trans_default_domain 'FOSUserBundle' %}

{% include 'WebforgeUserBundle:Resetting:reset_header.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">{{ 'resetting.reset.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
