{% extends "WebforgeCmsBundle:test:prototype.html.twig" %}

{% block body %}
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Datei-Verwaltung</h3>
      </div>
      <div class="panel-body">

        {% include "WebforgeCmsBundle:components:file-manager.html.twig" %}

      </div>
    </div>
  </div>

{% endblock %}

{% block requirejs %}
 <script type="text/javascript">
   require(['cms/FileManager/ns', 'jquery'], function(FileManager, $) {
     var model = new FileManager.Manager({
       root: {
         name: 'home',
         type: 'ROOT',
         items: [
           {
             name: '2016-03-27',
             type: 'directory',
             items: [
               {
                 'name': 'Foto 27.03.16, 16 14 18.jpg'
               },
               {
                 'name': 'Foto 27.03.16, 16 14 21 (1).jpg'
               },
               {
                 'name': 'Foto 27.03.16, 16 14 21.jpg'
               },
               {
                 'name': 'Foto 27.03.16, 16 14 54.jpg'
               },
               {
                 'name': 'Neuer Ordner',
                 'type': 'directory',
                 'items': []
               }
             ]
           }
         ]
       }
     });

     ko.applyBindings(model, $('body').get(0));
   });
 </script>
{% endblock %}