{% extends "WebforgeCmsBundle:test:prototype.html.twig" %}

{% block body %}
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">File-Manager</h3>
      </div>
      <div class="panel-body">

      <div class="btn-group">
        <a class="btn btn-default"><i class="fa fa-upload"></i> Upload</a>
        <a class="btn btn-default"><i class="fa fa-file"></i> New File</a>
        <a data-bind="click: newFolder" class="btn btn-default"><i class="fa fa-folder-close"></i> New folder</a>
        <a class="btn btn-default"><i class="fa fa-refresh"></i> Refresh</a>
        <a class="btn btn-default"><i class="fa fa-remove-circle"></i> Clear Messages</a>
      </div>

      <ol class="breadcrumb m-t-1" data-bind="foreach: breadcrumbs">
        <li><a href="#" data-bind="click: $parent.clickItem, text: label"></a></li>
      </ol>

      <!--ko if: hasItems -->
      <table class="table table-hover table-condensed">
        <tbody data-bind="foreach: sortedItems">
          <tr>
            <td><span class="fa" data-bind="css: { 'fa-folder': isDirectory, 'fa-file': isFile }"></span> <a href="#" data-bind="click: $parent.clickItem, text: label"></a></td>
          </tr>
        </tbody>
      </table>
      <!--/ko-->
      <!--ko ifnot: hasItems -->
      <div class="well">No items in this folder</div>
      <!--/ko-->

      <!-- footnote -->
      <ul id="footnote" class="list-inline">
        <li><i class="fa fa-pencil"></i> Edit</li>
        <li><i class="fa fa-arrow-right"></i> Move / Rename</li>
        <li><i class="fa fa-remove"></i> Remove</li>
      </ul>

      </div>
    </div>
  </div>

{% endblock %}

{% block requirejs %}
 <script type="text/javascript">
   require(['cms/FileManager/ns', 'jquery'], function(FileManager, $) {
     var model = new FileManager.Manager({
       root: {
         label: 'home',
         type: 'ROOT',
         items: [
           {
             label: '2016-03-27',
             type: 'directory',
             items: [
               {
                 'label': 'Foto 27.03.16, 16 14 18.jpg'
               },
               {
                 'label': 'Foto 27.03.16, 16 14 21 (1).jpg'
               },
               {
                 'label': 'Foto 27.03.16, 16 14 21.jpg'
               },
               {
                 'label': 'Foto 27.03.16, 16 14 54.jpg'
               },
               {
                 'label': 'Neuer Ordner',
                 'type': 'directory',
                 'items': []
               }
             ]
           }
         ]
       }
     });

     model.bindTo($('body'));
   });
 </script>
{% endblock %}