<div class="navigation-panel" data-bind="with: navigation">
  <h2>Seiten</h2>

  <script type="text/html" id="navigation-node-template">
    <li class="dd-item" data-bind="attr: {'data-id': id }">
    <div class="dd-handle btn btn-default btn-block">
      <span data-bind="text: title"></span>
      <div class="btn-group dd-nodrag">
        <button type="button" role="edit" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
        <button data-bind="click: $root.navigation.remove" type="button" role="delete" class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </div>
    </div>

      <!-- ko if: children().length -->
      <ol class="dd-list" data-bind="template: { name: 'navigation-node-template', foreach: children }">
      </ol>
      <!-- /ko -->
    </li>
  </script>

  <div class="dd">
    <ol class="dd-list root-list" data-bind="template: { name: 'navigation-node-template', foreach: navigation }">
    </ol>
  </div>

  <p class="m-t-md"><button type="button" data-bind="click: save" class="btn btn-primary">Speichern</button></p>

  <script type="text/javascript">
  require(['cms/navigation', 'cms/modules/main'], function(controller, main) {
    controller({{data|raw}}, main, $('#{{tabId}}').find('.navigation-panel'));
  });
  </script>
</div>