<div class="row">
  <div class="col-xs-12">
    <img src="/assets/img/{{tapir}}.png" alt="Tapir" class="img-circle pull-left">
    <h1 class="pull-left" style="margin-left: 40px">Howdy {{user.name}}</h1>
    <div class="clearfix"></div>
  </div>
</div>