{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'userbundle' %}

{% block fos_user_content %}
<h2>{{ 'resetting.checkEmail.headline'|trans }}</h2>
<p>
{{ 'resetting.checkEmail.message'|trans({'%email%': email}) }}
</p>
{% endblock %}
