{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'userbundle' %}

{% block fos_user_content %}
<h2>{{ 'resetting.alreadyRequested.headline'|trans }}</h2>
<p>{{ 'resetting.alreadyRequested.message'|trans }}</p>
{% endblock fos_user_content %}