header.site {
  margin: 0 auto;
  text-align: center;
  padding: 15px 50px 0px;
  border-bottom: 1px solid #ededee;
}

footer.site {
  padding: 80px 25px 32px 25px; // the right and left padding are relevant for xs
}