{% include 'WebforgeCmsBundle:default:head.html.twig' %}
  <body role="document">
    {%include 'WebforgeCmsBundle:default:navbar.html.twig' %}

    <div class="container-fluid invisible" id="content-container" data-bind="invisible: loading">
      <div class="row">
        <div class="col-sm-9" data-bind="with: tabs">
          {%include 'WebforgeCmsBundle:default:tabs.html.twig' %}
        </div>
        <div class="hidden-xs col-sm-3" role="sidebar">
          {%include 'WebforgeCmsBundle:default:sidebar.html.twig' %}
        </div>
      </div>
    </div>

    {% block body %}{% endblock %}

    {% include 'WebforgeCmsBundle:components:file-manager-modal.html.twig' %}

    <div id="responsive-detector">
      <span data-breakpoint="xs" class="visible-xs"></span>
      <span data-breakpoint="sm" class="visible-sm"></span>
      <span data-breakpoint="md" class="visible-md"></span>
      <span data-breakpoint="lg" class="visible-lg"></span>
      <span data-breakpoint="xl" class="visible-xl"></span>
    </div>

    <script type="text/javascript">
      requirejs.config({ urlArgs: "version={{cms.version}}" });
      require(['cms/main'], function(main) {
        main({{data|raw}});
      });
    </script>

{%include 'WebforgeCmsBundle:default:foot.html.twig' %}
