<div class="responsive-debug">
  <span class="hidden-sm-up">xs</span><span class="hidden-md-up hidden-xs-down">sm</span><span class="hidden-lg-up hidden-sm-down">md</span><span class="hidden-xl-up hidden-md-down">lg</span><span class="hidden-lg-down">xl</span>
</div>