<div class="tabs-container">
  <div class="btn-group hidden-xs">
    <button type="button" class="btn btn-default btn-xxs left"><i class="fa fa-chevron-left"></i></button>
    <button type="button" class="btn btn-default btn-xxs right"><i class="fa fa-chevron-right"></i></button>
  </div>
  <div class="tabs-scroller">

    <ul class="nav nav-tabs hidden-xs" role="tabs-nav">
      <!-- ko foreach: openedTabs -->
      <li role="presentation" data-bind="css: {active: isActive() }">
        <a href="#" data-bind="click: $parent.select">
          <!-- ko text: label --><!--/ko-->
          <button type="button" data-bind="click: $parent.close" class="close" role="close"><i class="fa fa-close"></i></button>
        </a>
      </li>
      <!--/ko-->
    </ul>

    <ul class="nav nav-tabs visible-xs" role="tabs-nav-xs" data-bind="with: activeTab">
      <li role="presentation" class="active">
        <a href="#" data-bind="click: $parent.select">
          <!-- ko text: label --><!--/ko-->
          <button type="button" data-bind="click: $parent.close" class="close" role="close"><i class="fa fa-close"></i></button>
        </a>
      </li>
    </ul>
  </div>

  <!--ko if: collapsedTabs().length > 0 -->
  <div class="dropdown">
    <a href="#" class="btn btn-default btn-xs dropdown-toggle" title="weitere Tabs" data-toggle="dropdown"><i class="fa fa-chevron-down"></i></a>
    <ul class="dropdown-menu dropdown-menu-right" data-bind="foreach: collapsedTabs">
      <li data-bind="css: {active: isActive() }"><a href="#" data-bind="text: label, click: $root.tabs.select"></a></li>
    </ul>
  </div>
  <!--/ko-->

</div>

<!--ko foreach: loadedTabs -->
<div class="tab-content m-t-md" data-bind="attr: {id: id}, css: {active: isActive()}, visible: isActive, html: contents" role="tab-content">
</div>
<!-- /ko -->