$cms-alt-color: #f2f2f2;

// the dependencies from bootstrapless/font-awesome will be imported directly from node-modules (its in the path in gulpfile)
// you can override parts of bootstrap if you copy the scss file to the scr/js/scss/bootstrap directory
@import 'bootstrap';
@import 'bootstrap-select';
@import 'bootstrap-variables';
@import "font-awesome";
@import 'fonts';
@import 'cms/tabs';
@import 'cms/buttons';
@import 'cms/file-manager';
@import 'cms/content-manager';
@import 'cms/preview';
@import 'cms/form-elements';
@import 'vendor/bootstrap-markdown';

$spacer:                     1em;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;

// http://v4-alpha.getbootstrap.com/components/utilities/#margin
@import 'cms/spacing';
@import 'cms/nestable';

// copied from https://github.com/eternicode/bootstrap-datepicker/blob/master/dist/css/datepicker3.css
@import 'vendor/datepicker3';

body {
  padding-bottom: 50px;
}

.navbar .spinner {
  float: left;
  padding-top: 9px;
  padding-right: 10px;
}

.effects-transfer {
  border: 1px dotted black;
}

@import 'vendor/uikit';
@import 'cms/upload';

.text-smaller {
  font-size: 90%;
}

@import 'cms/help';

.rubaxa-sortable-ghost {
  opacity: 0.1;
}

.rubaxa-sortable-drag {
  opacity: 1;
}