
// the dependencies from bootstrapless/font-awesome will be imported directly from node-modules (its in the path in gulpfile)
// you can override parts of bootstrap if you copy the scss file to the scr/js/scss/bootstrap directory
@import 'bootstrap-variables';
@import 'bootstrap';
@import "font-awesome";
@import 'fonts';
@import 'cms/tabs';
@import 'cms/buttons';

$spacer:                     1em;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;

// http://v4-alpha.getbootstrap.com/components/utilities/#margin
@import 'cms/spacing';
@import 'cms/nestable';

// copied from https://github.com/eternicode/bootstrap-datepicker/blob/master/dist/css/datepicker3.css
@import 'vendor/datepicker3';
