.content-manager {
  margin-bottom: 2em;

}

/* when moved it will be detached from .content-manager! */
.move-container {
  .label.mover {
    font-size: 100%;

    &:hover {
      cursor: move;
    }
  }
}

.uk-sortable-item {
  /*
  .label.mover {
    background-color: red;
  }
  */
}