.preview-wrapper {
  position: relative;

  iframe {
    display: block;
    position: relative;
    border: 1px solid #ddd;
    width: auto;
    height: auto;
    resize: both;
    box-shadow: 6px 7px 7px 1px rgba(200, 198, 198, 0.57);
  }
}