.nav-tabs > li {
  .close {
    margin: 0px 0px 0px 11px;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 4px;

    &:hover {
      background-color: #d0221d;
      border-radius: 20px;
      color: #fff;
    }
  }
  a {
    padding-right: 8px;
  }
}