<div id="file-manager-modal" data-bind="with: fileManager" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Datei-Manager</h4>
      </div>
      <div class="modal-body">
        {% include "WebforgeCmsBundle:components:file-manager.html.twig" %}
      </div>
      <div class="modal-footer">
        <button data-bind="click: confirmChosenFiles, enable: hasChosenFiles" type="button" class="btn btn-primary" data-dismiss="modal">auswählen</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">abbrechen</button>
      </div>
    </div>
  </div>
</div>

<div id="offcanvas-help-upload" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar help-offcanvas">
    <div class="row">
    <div class="col-xs-4">
      <img src="/assets/img/mini-single.png" alt="Mini-Tapir" class="img-circle img-responsive pull-left">
    </div>
    <div class="col-xs-8">
      <h3 class="m-t-0">Hilfe zum Datei-Manager</h3>
    </div>
    </div>

    <article>
      <h4>Dateien hochladen</h4>
      <p>Du kannst einfach von Deinem Desktop eine oder mehrere Dateien in den weißen Bereich des aktuellen Ordners ziehen. Auf Deinem Smartphone benutzt Du den Button <kbd>Dateien hochladen</kbd></p>
    </article>

    <article>
      <h4>Dateien löschen oder verschieben</h4>
      <p>Um Dateien oder Ordner verschieben oder löschen zu können, wähle sie zuerst aus, und benutze dann einen der Buttons <kbd>verschieben</kbd> oder <kbd>löschen</kbd>.</p>
    </article>

    <button type="button" class="btn btn-large btn-block btn-default uk-offcanvas-close">Schließen</button>
  </div>
</div>
