<div class="file-manager">
  <!-- ko if: view() == "navigator" -->
    {% include 'WebforgeCmsBundle:components:file-manager/navigator.html.twig' %}
  <!-- /ko -->

  <!-- ko if: view() == "folder-picker" -->
    {% include 'WebforgeCmsBundle:components:file-manager/folder-picker.html.twig' %}
  <!-- /ko -->
</div>
